@font-face {
    font-family: 'Myriad Pro';
    font-weight: 400;
    src: url('../others/fonts/myriadpro-regular-webfont.woff2') format('woff2'), url('../others/fonts/myriadpro-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: 400;
    src: url('../others/fonts/myriadpro-cond-webfont.woff2') format('woff2'), url('../others/fonts/myriadpro-cond-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: 600;
    src: url('../others/fonts/myriadpro-semibold-webfont.woff2') format('woff2'), url('../others/fonts/myriadpro-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: 700;
    src: url('../others/fonts/myriadpro-bold-webfont.woff2') format('woff2'), url('../others/fonts/myriadpro-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: 700;
    src: url('../others/fonts/myriadpro-boldcond-webfont.woff2') format('woff2'), url('../others/fonts/myriadpro-boldcond-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../others/fonts/century_gothic-webfont.woff2') format('woff2'), url('../others/fonts/century_gothic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Century Gothic';
    font-weight: 700;
    src: url('../others/fonts/century_gothic_bold-webfont.woff2') format('woff2'), url('../others/fonts/century_gothic_bold-webfont.woff') format('woff');
}

html {
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.primary-header {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    height: 67px;
    width: 100%;
    font-family: "Century Gothic", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    transition: background-color 450ms;
}
.trans{
    transition: background-color 450ms;
}
.primary-header.fixed {
    background-color: #1E1E1E;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.bold {
    font-weight: 700;
}

.nav-bar {
    display: flex;
}

.nav-links-container {
    margin-right: 1.5rem;
}

a.nav-links {
    color: white;
    font-weight: 400;
    font-size: 0.9em;
    transition: 0.5s;
}

a.nav-links:hover {
    color: yellow;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.logo-img {
    width: 186px;
    height: 50px;
}

.banner-img-container {
    width: 100%;
    height: 710px;
    position: relative;
    z-index: 1;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-headline-content {
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Myriad Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 23.5rem;
    margin-left: -17rem;
    flex-direction: column;
}

.date-and-author-container {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1rem;
    font-size: 1.15em;
}

.banner-hr {
    width: 50rem;
    margin-left: 30.6rem;
    margin-top: 1em;
    height: 1.5px;
    background-color: white;
}

.headline-container {
    margin-left: 35rem;
    margin-top: 0.5em;
    font-size: 3rem;
    width: 880px;
    font-weight: bold;
    font-style: italic;
    font-stretch: condensed;
    line-height: 90%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}

a.headline {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

a.headline:hover {
    opacity: 0.8;
}

.article-preview {
    margin-top: 0.8rem;
    width: 850px;
    margin-left: 33.5rem;
    text-align: justify;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.50);
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 0.9rem;
}

.news-hightlights {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 70%;
}

.news-hightlights-main {
    margin-top: 2rem;
    background-color: black;
    width: fit-content;
    height: 40px;
}

.news-highlights-sub {
    margin-top: 2rem;    
    background-color: yellow;
    height: 40px;
}

.section-hr {
    width: 69rem;
    margin-left: 13rem;
    margin-top: 45px;
    height: 5px;
    background-color: #1E1E1E;
}

.flag-divider {
    font-family: 'Myriad Pro', sans-serif;
    font-stretch: condensed;
    font-weight: 700;
    font-style: italic;
    margin-left: 13rem;
    margin-top: -1px;
    width: 5.8rem;
    padding: 5px 15px;
    font-size: 1.8em;
    background-color: #1E1E1E;
    color: yellow;
}

#long-text-flag {
    width: 6.5rem;
}

.card-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: -3rem;
    font-family: 'Century Gothic';
    gap: 20px;
}

.cards {
    width: 350px;
    height: 425px;
}

.card-img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.card-headline {
    font-family: 'Myriad Pro', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 8px;
    padding-left: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.card-headline:hover {
    text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.50);
}

.card-by-line {
    font-family: 'Myriad Pro', sans-serif;
    font-style: italic;
    font-size: 1em;
    padding-top: 8px;
    padding-left: 0.5rem;
}

.card-article-preview {
    font-family: 'Century Gothic', sans-serif;
    font-size: 0.8em;
    padding-top: 10px;
    padding-left: 0.5rem;
    width: 320px;
}

.opinion-highlights-container {
    margin-top: 2rem;
}

.opinion-highlights-flex {
    display: flex;
    margin-bottom: 20px;
    margin-left: 1rem;
}

.opinion-img-container {
    width: 350px;
    height: 200px;
    margin-right: 1rem;
}

.opinion-highlights-content {
    width: 650px;
}

.opinion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features-highlights {
    padding-top: 40px;
}

.main-feature-img-container {
    width: 68rem;
    height: 300px;
    transition: 0.25s;
}

.main-feature-img-container:hover {
    border: 0;
    filter: blur(1.25px);
}

.main-feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-feature-overlay {
    position: absolute;
    margin-top: -11rem;
    padding-left: 15rem;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.main-feature-headline {
    font-family: 'Myriad Pro', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-top: 1.5rem;
    width: 1050px;
    transition: 0.3s;
}

.main-feature-headline:hover {
    opacity: 0.8;
}

.main-feature-by-line {
    font-family: 'Myriad Pro', sans-serif;
    font-style: italic;
    font-size: 1em;
    padding-top: 8px;
}

.main-feature-article-preview {
    font-family: 'Century Gothic', sans-serif;
    margin-top: 10px;
    width: 1050px;
}

.sports-highlights {
    margin-bottom: 3.25rem;
}

footer {
    background-color: #373737;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-logo-container {
    margin-top: 4rem;
    padding: 5rem;
}

.to-top {
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    background: black;
    border-radius: 10px;
}

a.to-top {
    color: white;
}

/* About Us CSS */

.second-nav {
    z-index: 999;
    display: flex;
    height: 67px;
    width: 100%;
    font-family: "Century Gothic", sans-serif;
    position: absolute;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 0.65rem;
    padding-bottom: 0.45rem;
    background-color: #1E1E1E;
    flex-shrink: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 390px 390px;
    justify-content: center;
    row-gap:13px;
}

.staff-headline{
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.grid-item-a {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform:uppercase;
    color: #000;
}

.grid-item-b{
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    color: #000;
}

.grp {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #FFF;
    height: 19px;
    flex-shrink: 0;
}

.copyright{
    color: #FFF;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.bottom{
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.bottom-heading{
    color:#000;
    font-family:"Myriad Pro", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height:normal;
    text-transform: uppercase;
    padding-top: 0.50rem;
    padding-bottom: 0.6rem;
}

.grid-container-b{
    flex-direction: column;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
}

.grid-item-e {
    text-align: center;
}

.bottom-text{
    color: #000;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight:400;
    line-height: 150%;
}

.mail-link {
    transition: 0.3s;
}

.mail-link:hover {
    text-decoration: underline;
}

.bottom-img{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

.icons-container{
    padding-top: .70rem;
}

#bottom-pictures{
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
}

.icons{
    padding-left: .60rem;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
}

.pin-container {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.location-pin {
    width: 100%;
}

.contact-link {
    margin-top: -6px;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Article Page CSS */

.article-img-container {
    width: 100%;
    height: 650px;
}

.article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-headline-content {
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Myriad Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 26rem;
    margin-left: -17rem;
    flex-direction: column;
}

.author-img-container {
    width: 60px;
}

.author-img {
    width: 100%;
}

.article-by-line-container {
    justify-content: space-between;
    margin: 1.5rem 18rem;
}

.author-name-and-date {
    font-family: 'Myriad Pro', sans-serif;
    align-items: center;
    margin-top: 12px;
    margin-left: 15px;
}

.author-name {
    font-weight: bold;
    font-stretch: condensed;
}

.underline {
    text-decoration: underline;
}

.share-container {
    font-family: 'Myriad Pro', sans-serif;
}

.share-icon {
    width: 40px;
}

.a-share {
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    color: black;
}

.a-share:hover {
    text-decoration: underline;
}

.article-content {
    font-family: 'Century Gothic', sans-serif;
    font-size: 1rem;
    margin: 3.5rem 18rem;
    text-align: justify;
}

.article-content p {
    margin-bottom: 12px;
    text-indent: 2em;
}

.lead-paragraph {
    font-weight: bold;
}

.flag-divider-article-page {
    font-family: 'Myriad Pro', sans-serif;
    font-stretch: condensed;
    font-weight: 700;
    font-style: italic;
    margin-left: 13rem;
    margin-top: -1px;
    width: 10rem;
    padding: 5px 15px;
    font-size: 1.8em;
    background-color: #1E1E1E;
    color: yellow;
}

.section-hr-article-page {
    width: 69rem;
    margin-left: 13rem;
    margin-top: 45px;
    height: 5px;
    background-color: #1E1E1E;
}

.others {
    margin-bottom: 2rem;
}

@media (max-width: 860px) {

    .nav-bar {
        visibility: hidden;
    }

}

@media (max-width: 1366px) {
    .banner-headline-content {
        position: absolute;
        z-index: 2;
        color: white;
        font-family: "Myriad Pro", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 21rem;
        margin-left: -20rem;
        flex-direction: column;
    }

    .date-and-author-container {
        font-family: "Myriad Pro", sans-serif;
        font-stretch: condensed;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 1rem;
        font-size: 1.15rem;
    }

    .section-hr {
        width: 69rem;
        margin-left: 8rem;
        margin-top: 45px;
        height: 5px;
        background-color: #1E1E1E;
    }

    .flag-divider {
        font-family: "Myriad Pro", sans-serif;
        font-weight: 700;
        font-style: italic;
        width: 5.5rem;
        font-family: 'Myriad Pro', sans-serif;
        font-stretch: condensed;
        font-weight: 700;
        font-style: italic;
        padding: 5px 15px;
        margin-left: 8.05rem;
        margin-top: -1px;
        background-color: #1E1E1E;
        color: yellow;
    }
    
    .flag-divider-article-page {
        font-family: 'Myriad Pro', sans-serif;
        font-stretch: condensed;
        font-weight: 700;
        font-style: italic;
        margin-left: 8.05rem;
        margin-top: -1px;
        width: 10rem;
        padding: 5px 15px;
        font-size: 1.8em;
        background-color: #1E1E1E;
        color: yellow;
    }

    .main-feature-overlay {
        position: absolute;
        margin-top: -12rem;
        padding-left: 10rem;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 1920px) {
    .banner-img-container {
        height: 1000px;
    }

    .banner-headline-content {
        position: absolute;
        z-index: 2;
        color: white;
        font-family: "Myriad Pro", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35rem;
        margin-left: -6rem;
        flex-direction: column;
    }

    .date-and-author-container {
        font-family: "Myriad Pro", sans-serif;
        font-stretch: condensed;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: -0.75rem;
        font-size: 1.05rem;
    }

    .section-hr {
        width: 60rem;
        margin-left: 27.009rem;
        margin-top: 45px;
        height: 5px;
        background-color: black;
    }

    .flag-divider {
        font-family: "Myriad Pro", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 1.5em;
        width: 110px;
        margin-left: 27.05rem;
        margin-top: -1px;
        background-color: black;
        color: yellow;
    }

    .main-feature-overlay {
        margin-left: 12rem;
    }

    .section-hr-article-page {
        width: 80rem;
        margin-left: 20rem;
        margin-top: 45px;
        height: 5px;
        background-color: #1E1E1E;
    }
    
    .flag-divider-article-page {
        margin-left: 20.032rem;
    }

}

