* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

.banner-img-container {
    position: absolute;
    z-index: 1;
}

.banner-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    display: flex;
    height: 67px;
    width: 100%;
    font-family: "Century Gothic", sans-serif;
    z-index: 999;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 0.65rem;

}

.nav-bar {
    display: flex;
    font-weight: 530;
}

.nav-links-container {
    margin-right: 1.5rem;
}

a.nav-links {
    text-decoration: none;
    color: white;
}

.logo-img {
    width: 186px;
    height: 50px;
}

@media (max-width: 860px) {

    .nav-bar {
        visibility: hidden;
    }

}